{% extends "base.html" %}

{% block main %}
<div id="About" style="display:block; width:930px; padding:15px; font-size:16px; line-height:1.8em; background-color:#E7EFFB;" >
<u><center><h1 class="page-header">About US</h1></center></u>
  <center><img src="https://www.panarottis.co.za/media/1198/img-ingredients-02.png?anchor=center&mode=crop&quality=90&width=960&heightratio=0.2542372881355932203389830508&slimmage=true&rnd=130783266530000000" width="370" height="102"></center>
<strong><h4>Authors:</h4></br>

    Kyle Ramgolam</br>
    Omar Christie</br>
    Doniel Scotland</br>
    Kewon White
</div>
{% endblock %}
