{% extends "base.html" %}

{% block main %}

  {% include 'flash_messages.html' %}
<div class="container">
  <h2>Online Meal Planner</h2>
</div>
<div class="container">
    <span class="pull-left"><h2>Recipes</h2></span>
    <span class="pull-right"><button class="btn btn-success btn-md"><a href="{{url_for('addRecipe')}}">Add Recipe</a></button></span>
</div>
<div class="container">
    <form action="{{ url_for('recipes') }}" method="post">
        {{ form.csrf_token }}
        {{form.name.label}}
        {{form.name}}
        <ul>
        {% for error in form.name.errors %}
          <li style="color:red;">{{ error }}</li>
        {% endfor %}
        </ul>
        <button type="submit" name="submit" class="btn btn-primary btn-block">Search</button>
    </form>
</div>
<div class="container">
<table>
<th> 
    Name
</th>
<th>
    Type
</th>
<th>
    Diet Type
</th>
<th>
    Preparation Time
</th>
<th>
    Calorie Count
</th>
<th>
    Serving
</th>
{% for recipe in recipes %}
<TR>
   <TD>{{recipe['recipe_name']}}</TD>
   <TD>{{recipe['recipe_type']}}</TD>
   <TD>{{recipe['recipe_diet_type']}}</TD>
   <TD>{{recipe['prep_time_amt']}} {{recipe['hour_or_mins']}}</TD>
   <td>{{recipe['calories']}}</td>
   <td>{{recipe['servings']}}</td>
   <td><div id="spacediv"><a class="span3" href="{{ url_for('recipedetails', recipeid = recipe['recipe_id'] ) }}"><button type="button" class="btn btn-success" >Details</button></a></div></td>
</TR>
{% endfor %}
</table>
</div>

{% endblock %}